/* Header contents */

.header-button {
	border-radius: 10px;
	border: 1px solid var(--li-color);
	background-color: var(--nav-bg);
	color: var(--li-color);
	padding: 10px 20px;
}

.quote {
	color: white;
}

.features {
	/* color:#f5cf89; */
	color: white;
}

.saturn {
	height: 200%;
	width: 150%;
	z-index: 20;
}

.text-yellow {
	color: #eeaa2e;
}

.font-massive {
	font-size: 55px;
}

#carousel-component {
	background-color: #eeaa2e;
	background-image: url("/img/moon-terrain.png");

	background-size: cover;
	padding-bottom: 2rem;
	background-repeat: no-repeat;
	/* background-image: url("/img/curiosity-rover.png"); */
}

.rover-container {
	border: 10px;
	border-color: red;
}

#carouselExampleCaptions {
	background-color: #eeaa2e;
}

#Frontier {
	/* background-color: #eeaa2e;*/
	background-image: url("/img/clouds.png");
	background-size: cover;
	background-color: var(--body-bg);
}

#Overview {
	/* background-color: #eeaa2e; */
	background-image: url("/img/moon-crater.png");
	background-size: cover;
}

/*Body*/
#latest {
	background-color: var(--body-bg);
	padding-bottom: 100px;
	overflow: hidden;
	background-size: cover;
	background-image: url("/img/space-shuttle.png");
}

/* Saturn Animation */

#saturn-image {
	position: relative;
	left: -200px;
	-webkit-animation: slide 1.5s forwards;
	-webkit-animation-delay: 0.1s;
	animation: slide 1.5s forwards;
	animation-delay: 0.1s;
}

@-webkit-keyframes slide {
	100% {
		left: 0;
	}
}

@keyframes slide {
	100% {
		left: 0;
	}
}

#saturn-image {
	transition: 1s;
	left: 100px;
}

/* Cards */

.card-image {
	height: 18rem;
	border-radius: 10px 10px 0px 0px;
}

.latest-card {
	border-radius: 10px;
	z-index: 10;
}

.latest-card:hover {
	scale: 101%;
	animation-duration: 250ms;
	transition-timing-function: ease-in-out;
}

#rover {
	display: inline;
	width: 100%;
	z-index: 5;
}

#roverhead {
	border-radius: 100%;
	width: 100%;
	background-color: #0e0d0b;
	border: #eeaa2e 2px solid;
}

/* Timeline */

.timeline {
	border-left: 1px solid hsl(0, 31%, 57%);
	position: relative;
	list-style: none;
}

.timeline .timeline-item {
	position: relative;
}

.timeline .timeline-item:after {
	position: absolute;
	display: block;
	top: 0;
}

.timeline .timeline-item:after {
	background-color: hsl(0, 38%, 48%);
	left: -38px;
	border-radius: 50%;
	height: 11px;
	width: 11px;
	content: "";
}
