/* CSS Reset (adapted from tutorial https://elad.medium.com/the-new-css-reset-53f41f13282e) */
*,
*::before,
*::after {
	all: unset;
	display: revert;
	/* box-sizing: border-box;*/
}

/* End CSS Reset */

/* Nord Color Palette */
* {
	transition: all 0.1s ease-out;

	/* Polar Night */
	--gunmetal: #2e3440ff;
	--charcoal: #3b4252ff;
	--independence: #434c5eff;
	--independence-2: #4c566aff;

	/* Snow Storm */
	--gainsboro: #d8dee9ff;
	--alice-blue: #e5e9f0ff;
	--alice-blue-2: #eceff4ff;

	/* Aurora */
	--fuzzy-wuzzy: #bf616aff;
	--copper-crayola: #d08770ff;
	--gold-crayola: #ebcb8bff;
	--dark-sea-green: #a3be8cff;
	--opera-mauve: #b48eadff;

	/* Frost */
	--opal: #8fbcbbff;
	--dark-sky-blue: #88c0d0ff;
	--air-superiority-blue: #81a1c1ff;
	--glaucous: #5e81acff;
}

/* End Nord Color Palette */

/* Theme Variables */
:root {
	--sun: revert;
	--moon: none;

	--body-bg: var(--gunmetal);
	--nav-bg: var(--charcoal);
	--li-color: var(--gainsboro);
	--border-color: var(--glaucous);

	--switch-bg: var(--air-superiority-blue);
	--switch-hover-bg: var(--glaucous);
}

[theme="light"] {
	--sun: none;
	--moon: revert;

	--body-bg: var(--alice-blue);
	--nav-bg: var(--alice-blue-2);
	--li-color: black;
	--border-color: var(--gunmetal);

	--switch-bg: var(--air-superiority-blue);
	--switch-hover-bg: var(--glaucous);
}

/* End Theme Variables */

body {
	background-color: var(--body-bg);
}

nav {
	background-color: var(--nav-bg);
}

.light-text {
	color: var(--li-color) !important;
}

.light-text.active {
	font-weight: bold;
}

.light-text.disabled {
	opacity: 0.5;
}

.btn{
	height: 1.8rem;
	width: auto;
}

.navbar-boggler {
	border: 1px solid var(--li-color);
	border-radius: 10px;
	transition: transform 0.5s ease, box-shadow .5s ease;
	margin-left: .35rem;
}

.navbar-boggler:hover{
	transform: scale(.9, .9);
	box-shadow: inset -.9px -.9px 3px var(--li-color), 
				inset .9px .9px 3px var(--li-color);
	transition: transform 0.5s ease, box-shadow .5s ease;
	border: 1px solid var(--li-color)
}

.switch {
	border: none;
	background-color: var(--switch-bg);
}

.switch:hover {
	background-color: var(--switch-hover-bg) !important;
}

.hide-sun {
	display: var(--sun);
}

.hide-moon {
	display: var(--moon);
}

@media screen and (min-width: 768px) {
	nav {
		border-radius: 1rem;
	}
}

.titan_whole{
    position: absolute;
    right: 0;
    left: 0;
    top: 100vh;
    height: 50vh;
  }
  
.titan_text{
    position: absolute;
    left: 0;
    right: 15%;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -2;
    height: 50%;
    width: 40%;
    --opac: 0;
    opacity: var(--opac);
    transform: var(--out);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
	border: 5px solid var(--border-color);
	border-radius: 30px;
	padding: 2%;
	background-color: var(--bg-color);
  }

.titan_text p {
	margin: auto;
	text-align: center;
	color: var(--li-color);
}
  
.cova{
    z-index: -1;
    position: absolute;
    left: 0;
    right: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40%;
    height: 20%;
    padding-bottom: 20%;
    transform-box: initial;
    transform: var(--move);
    transition: transform 1.5s ease-in-out;
    background-color: var(--body-bg);
  }
  
  .titan{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    border-radius: 50%;
    transform: var(--move);
    transition: transform 1.5s ease-in-out;
	background-image: url("../img/titan_texture.jpg");
	background-repeat: repeat-x;
    background-size: cover;
    background-position: 0 0;
    box-shadow: inset -10px -5px 10px black, inset 10px 5px 20px white;
    
    animation: 15s rotate infinite linear;
  }
  
  @keyframes rotate {
    100% {
      background-position: 200% 0;
    }
  }

  .titan_alt{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 35vw;
    width: 35vw;
	--bg-rd: 50%;
    border-radius: var(--bg-rd);
	transition: border-radius 1s ease, box-shadow 1s ease;
    background-image: url("../img/titan_texture.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: 0 0;
	--bshad: inset -10px -5px 10px black, inset 10px 5px 20px white;
    box-shadow: var(--bshad);
    
    animation: 15s rotate infinite linear;
  }

  .titan_alt_p{
    height: 100%;
    width: 100%;
	--popc: 0;
	opacity: var(--popc);
	transition: opacity 1s ease, border-radius 1s ease, backdrop-filter 1s ease;
	border-radius: var(--bg-rd);
    border: 5px solid var(--border-color);
  }

  .titan_alt_p p{
	text-align: center;
    color: var(--gainsboro);
	padding: 5%;
  }

  .moons_top {
  z-index: -10;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: black;
	width: 100%;
  }

  .moon_title{
    height: 15%;
    width: calculate(19 * 4)vw;
    border-radius: 50px;
    padding-left: 2%;
    padding-right: 2%;
    backdrop-filter: blur(10px);
  }

  .moon_title h1{
    color: white;
    font-size: 4vw;
    font-weight: bold;
  }

  .saturn_para{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  #saturn{
    height: 60%;
    rotate: -12deg;
    width: auto;
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  #titan{
    height: 20%;
    width: auto;
    position: absolute;
    z-index: -1;
    left: 5%;
    top: 40%;
    --orb: 75vw;
    animation: 15s orbit linear infinite;
  }

  #enceladus{
    height: 25%;
    width: auto;
    position: absolute;
    z-index: -1;
    left: -20%;
    top: 70%;
    --orb: 130vw, -70vh;
    animation: 7s orbit linear infinite;
  }

  #iapetus{
    height: 30%;
    width: auto;
    position: absolute;
    z-index: -1;
    left: -20%;
    top: 35%;
    --orb: 130vw, 70vh;
    animation: 5s orbit linear infinite;
  }

  #rhea{
    height: 30%;
    width: auto;
    position: absolute;
    z-index: -1;
    left: -20%;
    top: 35%;
    --orb: 130vw;
    animation: 5s orbit linear infinite;
  }

  #mimas{
    height: 30%;
    width: auto;
    position: absolute;
    z-index: -1;
    left: -20%;
    top: 35%;
    --orb: 130vw;
    animation: 5s orbit linear infinite;
  }

  @keyframes orbit{
    0%{
      opacity: 1;
      scale: 1 1;
    }

    25%{
      opacity: 1;
      scale: 1.5 1.5;
    }

    50%{
      opacity: 1;
      scale: 1 1;
      translate: var(--orb);
    }

    75%{
      scale: 0.05 0.05;
      opacity: 0.5;
    }

    90%{
      z-index: -9;
    }

    100%{
      z-index: -9;
      opacity: 1;
      scale: 1 1;
    }

  }

  @media screen and (max-width: 675px){
    .titan_alt{
        height: 50vw;
        width: 50vw;
    }
  }