/* CSS Reset (adapted from tutorial https://elad.medium.com/the-new-css-reset-53f41f13282e) */
*,
*::before,
*::after {
	all: unset;
	display: revert;
	box-sizing: border-box;
	transition: all 0.1s ease-out;
}

/* End CSS Reset */

/* Nord Color Palette */
* {
	transition: all 0.1s ease-out;

	/* Polar Night */
	--gunmetal: #2e3440ff;
	--charcoal: #3b4252ff;
	--independence: #434c5eff;
	--independence-2: #4c566aff;

	/* Snow Storm */
	--gainsboro: #d8dee9ff;
	--alice-blue: #e5e9f0ff;
	--alice-blue-2: #eceff4ff;

	/* Aurora */
	--fuzzy-wuzzy: #bf616aff;
	--copper-crayola: #d08770ff;
	--gold-crayola: #ebcb8bff;
	--dark-sea-green: #a3be8cff;
	--opera-mauve: #b48eadff;

	/* Frost */
	--opal: #8fbcbbff;
	--dark-sky-blue: #88c0d0ff;
	--air-superiority-blue: #81a1c1ff;
	--glaucous: #5e81acff;
}

/* End Nord Color Palette */

/* Theme Variables */
:root {
	--sun: revert;
	--moon: none;

	--body-bg: var(--gunmetal);
	--nav-bg: var(--charcoal);
	--li-color: var(--gainsboro);

	--switch-bg: var(--air-superiority-blue);
	--switch-hover-bg: var(--glaucous);
}

[theme="light"] {
	--sun: none;
	--moon: revert;

	--body-bg: var(--alice-blue);
	--nav-bg: var(--alice-blue-2);
	--li-color: black;

	--switch-bg: var(--air-superiority-blue);
	--switch-hover-bg: var(--glaucous);
}

/* End Theme Variables */

body {
	background-color: var(--body-bg);
	font-family: "", sans-serif;
}

.background-mode {
	background-color: var(--body-bg);
	color: var(--li-color);
}

nav {
	background-color: var(--nav-bg);
	font-family: "Viga", sans-serif;
}

.light-text {
	color: var(--li-color) !important;
}

.light-text.active {
	font-weight: bold;
}

.light-text.disabled {
	opacity: 0.5;
}

.navbar-boggler {
	border: 1px solid var(--li-color);
	border-radius: 10px;
	transition: transform 0.5s ease, box-shadow 0.5s ease;
	margin-left: 0.35rem;
}

.navbar-boggler:hover {
	transform: scale(0.9, 0.9);
	box-shadow: inset -0.9px -0.9px 3px var(--li-color),
		inset 0.9px 0.9px 3px var(--li-color);
	transition: transform 0.5s ease, box-shadow 0.5s ease;
	border: 1px solid var(--li-color);
}

.switch {
	border: none;
	background-color: var(--switch-bg);
}

.switch:hover {
	background-color: var(--switch-hover-bg) !important;
}

.hide-sun {
	display: var(--sun);
}

.hide-moon {
	display: var(--moon);
}

@media screen and (min-width: 768px) {
	nav {
		border-radius: 1rem;
	}
}

/*Fonts*/
.fira {
	font-family: "Fira Mono", sans-serif;
}

.prompt {
	font-family: "Prompt", sans-serif;
}

.viga {
	font-family: "Viga", sans-serif;
}
.comfortaa {
	font-family: "Comfortaa", sans-serif;
}
/*End Fonts*/

main {
	height: 100px;
}

.box {
	height: 100%;
	width: auto;
	position: relative;
}

/*Header Image*/
header {
	/* height: 100vh; */
	height: 100%;
	width: 100%;
	z-index: 10;
	background-color: black;
	background-size: cover;
	background-image: url("https://wallpapercave.com/wp/wp3493599.jpg");
}

.border-curvy {
	background-color: var(--body-bg);
	border-radius: 150% 150% 0px 0px;
	height: 50px;
	margin-top: -50px;
	z-index: 20;
}

/*Flashing css*/
.blinking {
	animation: blinker 1.25s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

/*Element appearing */

.reveal {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

.active.fade-bottom {
	animation: fade-bottom 1s ease-in;
}
.active.fade-left {
	animation: fade-left 1s ease-in;
}
.active.fade-right {
	animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade-left {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
