/* CSS Reset */
*,
*::before,
*::after {
	all: unset;
	display: revert;
	box-sizing: border-box;

	transition: all 0.1s ease-out;
}

/* End CSS Reset */

/* Nord Color Palette */
* {
	/* Polar Night */
	--gunmetal: #2e3440ff;
	--charcoal: #3b4252ff;
	--independence: #434c5eff;
	--independence-2: #4c566aff;

	/* Snow Storm */
	--gainsboro: #d8dee9ff;
	--alice-blue: #e5e9f0ff;
	--alice-blue-2: #eceff4ff;

	/* Aurora */
	--fuzzy-wuzzy: #bf616aff;
	--copper-crayola: #d08770ff;
	--gold-crayola: #ebcb8bff;
	--dark-sea-green: #a3be8cff;
	--opera-mauve: #b48eadff;

	/* Frost */
	--opal: #8fbcbbff;
	--dark-sky-blue: #88c0d0ff;
	--air-superiority-blue: #81a1c1ff;
	--glaucous: #5e81acff;
}

/* End Nord Color Palette */

/* Theme Variables */
:root {
	--sun: revert;
	--moon: none;

	--body-bg: var(--gunmetal);
	--li-color: var(--gainsboro);

	--switch-bg: var(--air-superiority-blue);
	--switch-hover-bg: var(--glaucous);

	--indicator-bg: var(--alice-blue-2);
}

[data-theme="light"] {
	--sun: none;
	--moon: revert;

	--body-bg: var(--alice-blue);
	--li-color: black;

	--switch-bg: var(--air-superiority-blue);
	--switch-hover-bg: var(--glaucous);

	--indicator-bg: var(--gunmetal);
}
/* End Theme Variables */

body {
	background-color: var(--body-bg);
}

#timeline {
	height: 50vh;
}

.carousel-inner {
	width: 70%;
}

.indicator {
	background-color: var(--indicator-bg) !important;
}

.arrow {
	color: var(--indicator-bg) !important;
}

.light-text {
	color: var(--li-color) !important;
}

.light-text.active {
	font-weight: bold;
}

.light-text.disabled {
	opacity: 0.5;
}

.btn{
	height: 1.8rem;
	width: auto;
}

.navbar-boggler {
	border: 1px solid var(--li-color);
	border-radius: 10px;
	transition: transform 0.5s ease, box-shadow .5s ease;
	margin-left: .35rem;
}

.navbar-boggler:hover{
	transform: scale(.9, .9);
	box-shadow: inset -.9px -.9px 3px var(--li-color),
				inset .9px .9px 3px var(--li-color);
	transition: transform 0.5s ease, box-shadow .5s ease;
	border: 1px solid var(--li-color)
}

.switch {
	border: none;
	background-color: var(--switch-bg);
}

.switch:hover {
	background-color: var(--switch-hover-bg) !important;
}

.hide-sun {
	display: var(--sun);
}

.hide-moon {
	display: var(--moon);
}

@media screen and (min-width: 768px) {
	nav {
		border-radius: 1rem;
	}
}
